body {

   background-color: rgb(190, 154, 223); 
   margin: 0;

}


.layout {

    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    gap: 20px;
    margin: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;

}

.Titulo {

    position: relative;
    font-size: 125px;
    font-family: "BBH Bartle", sans-serif;
    color: blueviolet;
    background-color: rgb(223, 110, 180);
    border-radius: 20px;
    margin: 20px;
    padding: 8px;
    text-align: center;

}

.sticker {

    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: auto;
    z-index: 10;

}

.subtitulo {

    width: fit-content;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(235, 119, 225);
    border-radius: 20px;
    margin: 5px;
    margin-top: 20px;
    padding: 10px;
    text-align: start;

}

.ParrafoSubtitulo {

    width: fit-content;
    font-size: 20px;
    color: #000;
    background-color: rgb(221, 160, 198);
    border-radius: 20px;
    margin: 5px;
    padding: 10px;

}

.ContainerTituloLista {

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

}

.TituloLista {

    width: fit-content;
    font-size: 20px;
    color: #000;
    background-color: rgb(235, 119, 225);
    border-radius: 20px;
    margin: 5px;
    padding: 10px;

}

.buscador {

    border-radius: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
    justify-self: end;

}

.ContainerLista {

    background-color: rgb(180, 36, 132);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;

}

.ListaPokémon {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
    justify-items: center;

}

.ListaPokémon a{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: "BBH Bartle";
    text-decoration: none;
    color: #e791cd;
    font-size: 14px;

}

.pokemon {

    width: 150px;
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;

}

.pokemon img {

    width: 150px;
    height: 150px;
    object-fit: cover;

}

footer {

    background-color: palevioletred;
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer {

    font-size: 20px;
    text-align: end;
    padding: 20px;
    margin-bottom: 0px;
    align-items: center;

}

.gitlab {

    display: flex;
    align-items: center;
    gap: 10px;

}

.gitlab a {

    color: #000000;

}

.gitLabIcon {

    width: 75px;
    height: 75px;

}